<app-header></app-header>
<div class="container" >
    <mat-card class="main-mat-card">
        <mat-card-content>
            <div> 
                <mat-form-field appearance="outline">
                    <mat-label>Location</mat-label>
                    <input type="text" matInput [formControl]="nameSearch">
                </mat-form-field>
                <button mat-raised-button class="filter-field" color="primary" (click)="search()">Search</button>
            </div>
            <div class="split-screen">
                <div class="screen-one">
                    <div class="flex-auto">
                        <div leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>
                      </div>
                </div>
                </div>
                <div class="screen-two">
                    <mat-card class="description-card" [formGroup]="form">
                        <mat-card-title>
                            <h1><b>{{form.controls.name.value}}</b></h1>
                        </mat-card-title>
                        <mat-card-content>
                            <div *ngIf="selectedItem">
                                <h2>{{ selectedItem.name }}</h2>
                                <p>{{ selectedItem.address }}</p>
                                <p>Rating: {{ selectedItem.rating }}</p>
                                <p><a href="{{ selectedItem.website }}">Website</a></p>
                                
                              </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
