<app-header></app-header>
<div class="container">
    <mat-card class="main-mat-card">
        <mat-card-content>
            <div> 
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" matInput [formControl]="nameSearch">
                </mat-form-field>
                <button mat-raised-button class="filter-field" color="primary" (click)="search()">Location</button>
            </div>
            <div class="split-screen">
                <div class="screen-one">
                    <div class="map"
                    leaflet
                    [leafletOptions]="options">
                </div>
                </div>
                <div class="screen-two">
                    <mat-card class="description-card" [formGroup]="form">
                        <mat-card-title>
                            <h1><b>{{form.controls.name.value}}</b></h1>
                        </mat-card-title>
                        <mat-card-content>
                            <p>English Name: {{form.controls.nameEn.value}}</p>
                            <p>Phone: {{form.controls.phone.value}}</p>
                            <p>Oppening Hours: {{form.controls.opening_hours.value}}</p>
                            <p>Website: <a [href]="form.controls.website.value" target="_blank">{{form.controls.website.value}}</a></p>
                            <a [href]="form.controls.wikipediaLink.value">Wikipedia</a>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
